@charset "UTF-8";

@media screen and (max-width:1024px) {
	#wrap{width:90%;}
}

@media screen and (max-width:800px) {
	#wrap{width:100%;}
}

@media screen and (max-width:480px) {
	#box_b{float:none;width:100%;}
	#box_c{float:none;width:100%;}
}

.index-nav-item-top {
    width:150px;
}

.index-nav-item-top a {
    font-size: 15px !important;
    font-weight: bold;
    color:white;
    text-shadow: 1px 5px 20px black;
}

.index-nav-item-top:hover a {
    color:#2d62cd;
    text-shadow: 1px 5px 20px white;
}

.index-nav-back{
    background-color:#fa5e5e;
    background-image: url(../img/common/party.png);
    background-position: top center;
    background-repeat: repeat-x;
}

/*nav*/
.nav-item-top {
    width:150px;
}

.nav-item-top a {
    font-size: 15px !important;
    font-weight: bold;
    color:#fa5e5e;
    text-shadow: 1px 5px 20px black;
}

.nav-item-top:hover {
    background-color:#fa5e5e;
    /*border-radius: 12px;*/
    border-radius: 12px 12px 0px 00px; 
}
.nav-item-top:hover a {
    color:white;
}
.nav-back{
    /*background-color:#fa5e5e;*/
    background-color:white;
    background-image: url(../img/common/party.png);
    background-position: top center;
    background-repeat: repeat-x;
}  

.nav-item-logo img{
    margin-top: -5px;
}

.banner img{
    padding:10px;
}

/*menuber*/
.menubar  { 
    background-image: url(../img/common/back_1.png); 
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-color : #f2f2f2;
    background-size:cover;
}
.menubar-name {
    background-color:#b0afaf; 
    border-top-width: 2px; 
    border-bottom-width:2px; 
    border-color : #f2f2f2;
    font-weight: bold;
}

.side-back {
    background-color: #f2f2f2;
    padding:0px;
}
/*1 : service*/
.nav-item-side {
    background-color: #F2CE82;
    margin:0px;
    width:200px
}

.nav-item-side .nav-link {
    font-size: 15px !important;;
    font-weight: bold;
    color:white;
}

.nav-item-side a {
    font-size: 15px !important;;
    font-weight: bold;
    color:black;
    background: #F2CE82;
    border-color:#f2f2f2;
    border-width:2px;
}

/*2 : manage*/
.nav-item-side-2 {
    margin:0px;
    width:200px
}

.nav-item-side-2 a {
    font-size: 15px !important;;
    font-weight: bold;
    color:white;
    background: #faacac;
    border-color:#f2f2f2;
    border-width:2px;
}

/*3 : my*/
.nav-item-side-3 {
    margin:0px;
    width:200px
}

.nav-item-side-3 a {
    font-size: 15px !important;;
    font-weight: bold;
    color:white;
    background: #F2CE82;
    border-color:#f2f2f2;
    border-width:2px;
}


.center {
    background-color: white;
}


.footer-top {
    background-image: url(../img/common/back_1.png);
    background-size:cover;
    border-width: 2px;
    border-color : #f2f2f2;
}
.footer-top-rink{
    background-color:#d2d2d2; 
    width: 310px;
    padding:1px;
}

.footer-bottom{
    height:12vh; 
    background-color:#6e9cf8;
    color:white;
}

.toTop {
    background:none; 
    position:fixed; 
    bottom:1px; 
    right:1px; 
    cursor:pointer; 
    text-decoration:none; 
    border-radius:5px; 
    -moz-border-radius:5px; 
    -webkit-border-radius:5px; 
    padding:5px;
    table-layout:fixed;
}

.title {
    background-color: #6e9cf8;
    width: 200px;
    border-radius: 20px;
    border-color:#f2f2f2;
    border-width:3px;
    height:40px;
    padding-top:3px;
    color:white;
}
