/* edit.css */
/*작성일 : 18.05.07 ~ 05.15
 *작성자 : 송유진
 *기능 : 편집 툴 페이지 CSS
*/

* {
  text-decoration: none;
  list-style: none;
}
a:hover {
  text-decoration: none !important;
}
/* 상단 header */
header {
    height: 6vh;
}
header * {
    font-size: 13px;
}
.header-btn {
    font-size: 13px !important;
    height: 30px;
}
.url-info {
    height: 30px;
}
.url-info > a {
    color: #444;
    text-decoration: none;
}
.url-info > a:hover {
    color: #444;
    text-decoration: none;
}
.use-period {
    height: 30px;
}
.btn-exit{
    color: #A9A9A9;
    text-decoration: none;
}
.btn-exit:hover{
    color: #17a2b8;
    text-decoration: none;
}

/* section */
section {
    top: 6vh;
    left: 0;
    right: 0;
    bottom: 0;
}

/* ui block - 왼쪽 */
.ui-block {
    background-color: #ccc;
    top: 6vh;
    left: 0;
    right: 574px;
    bottom: 0;
    min-width: 360px;
    z-index: 10;
}
.ui-block > .preview-wrap {
  min-height: 100%;
}
.ui-block > .preview-wrap > img{
  height: 90vh;
  min-height: 550px;
}
.privew_frame {
  width: 40vh;
  height: 70vh;
  min-width: 240px;
  min-height: 425px;
  overflow: scroll;
}

/* edit block - 오른쪽 */
.edit-block {
    top: 6vh;
    right: 0;
    bottom: 0;
    width: 574px;
    z-index: 20;
}
.edit-block-tab {
    width: 84px;
    min-height: 100%;
}
.edit-block-tab > ul > li > a > span {
  display: block;
  width: 84px;
  height: 70px;
  background: url('http://via.placeholder.com/84x70') 0 0 no-repeat;
  cursor: pointer;
}
.edit-block-content {
    width: 490px;
    background-color: #fff;
}
.edit-block-content-box {
    width: 490px;
    top: 50px;
    bottom: 50px;
    right: 0;
    background-color: #fff;
    padding: 0;
    overflow: auto;
    overflow-y: scroll;
}
.edit-block-content-box > div {
  border:1px solid black;
  max-height: 100vh;
  overflow: scroll;
}
.sub-tab-top {
  height: 6vh;
  background-color: #f0f0f0;
}
.sub-tab-section {
}
.sub-tab-top > ul > li span {
  display: block;
  width: 80px;
}
#tabs-1-1 input[type='checkbox'] {
  /* display: none; */
}

/* 스킨 선택 - 스킨 이미지 호버 css */
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  background-color: rgba(0,0,0,0.5);
  -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  background: rgba(0,0,0,0.6);
  -webkit-transform: translatey(-100px);
  -ms-transform: translatey(-100px);
  transform: translatey(-100px);
  -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  padding: 10px;
}

.hovereffect a.info {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin: 50px 0 0;
  padding: 7px 14px;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0);
  -webkit-transform: translatey(0);
  transform: translatey(0);
}

.hovereffect:hover a.info {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

/* 상단 선택 */
.section-title {
  font-size: 1.1rem;
  color: #656565;
  vertical-align: middle;
  margin: 10px 0;
}

/* 상세 정보 */
.textarea-welcome {
  height: 120px;
}

/* 카카오톡 공유 문구 */
.textarea-content {
  height: 200px;
}
