@charset "UTF-8";
@import url(//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css);

* {
    font-family: 'Godo', sans-serif;
}

/*font-family: 'Nanum Square';*/

/* 고도체 */
@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}