.nav-item{
    width:150px;
}

.nav-item a {
    font-size: 15px !important;
    font-weight: bold;
    color:white;
}

.nav-item:hover {
    background-color:white;
    /*border-radius: 12px;*/
    border-radius: 15px 15px 0px 0px; 
}
.nav-item:hover a {
    color:#fa5e5e;
}

.top-block{
    background-image:url(../Image/back_3.png); 
    background-position: center;
    background-size:cover;
    border-width: 20px; 
    border-image: url(../Image/back_1.png) 30 30 round;
}

.midle-block {
    height:30%;
    margin: 15px;
    padding: 10px;
    border:1px solid black;
    background:#eeece1;
}
.bg_3{
    height:30px;
}
/*
.buttom_title{
    background-image: url("../Image/back_1.png"); 
}
*/
.type-box img {
    transform:scale(1.0);
    transition:transform.5s;
}

.type-box img:hover{
    transform:scale(1.3);
    transform:transform.5s;
}

.section2 {
    height: 100vh; 
    /*background:#f4f4f3;*/
    /*background: linear-gradient(#f4f4f3, black);*/
}
.article-box {
  position: relative;
    width: 50%; 
	cursor:pointer;
	overflow:hidden;
	height:40vh; 
	border:1px solid #f2f2f2; 
	padding:0px;
}
.box-img{
    opacity: 1.0;
    transition:0.1s ease;
}
.overlay {
  position: absolute;  
  bottom: 0;
  left: 0;
  right: 0;
  background:rgba(0,0,0,0.9);
  overflow: hidden;
  width: 100%;
  height: 0%;
  transition: .0.1s ease;
}
.box-img:hover .overlay i{
        font-size: 3em;
        color:#fff;
      }
.article-box {
    padding-left:0px;
}
.article-box:hover .overflow{
    opacity: 0.5;
    transition:0.1s;
}
.article-box:hover .overlay {
  height: 100%; 
  opacity: 0.5;
}
.article-box:hover img.box-img{
       -ms-transform: scale(1.1); 
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
}
.text {
  color: white; 
  font-size: 15px;
  position: absolute;
  overflow: hidden;
  top: 90%;
  left: 15%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

/*애니메이션*/
	#scrollAni img {position:relative; transform:scale(0);opacity:0; transition:0.5s; }
	#scrollAni img.ani {opacity:1; transform:scale(1);}
/*	
.section:hover {
    filter:grayscale(100%) blur(5px); 
}*/

#blurExample, #noneblurExample {
background-image:url(../Image/index/index_top.jpg);
background-size:cover;
width:100%;
height:100vh;
position: relative;
z-index:1;
overflow:hidden;
}

.bgBlur:before {
  content: '';
  position: absolute;
  top: 0; left:0; right:0; bottom:0;
  background: inherit;
  z-index:-1;
  filter: blur(2px); 
  -webkit-filter: blur(2px); 
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  filter:url(#blur);
}
svg {
height:0
}

/*service_1*/
.rounded-circle {
    position: absolute; 
    border-radius:50%; 
    height:500px; 
    width:500px; 
    overflow: hidden;
}
.rounded-circle img {
    width:500px; 
    height:500px;
}
.rounded-circle-inner {
    position: absolute; 
    border-radius:50%; 
    height:500px; 
    width:500px; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    background:rgba(0,0,0,0);
}
.rounded-circle-inner p {
    color:white; 
    font-weight:bold;
    margin-top: 15px;
}