@charset "UTF-8";

/* service_2 css */ 


/*버튼 클릭시 하트 색상 채워지기*/
.checkbox input[type='checkbox'] {
	display: none; /* 실제 라디오버튼 없애기 */
}

.checkbox input[type='checkbox']+label::before { /* 가짜 라디오버튼 만들기 */
	content: ' ';
	display: inline-block;
	width: 22px;
	height: 17.6px;
	vertical-align: middle; /* img 아이콘 항상 세로정렬을 하기 위함 */
	margin: -5px 10px 0 0;
	background: url('../img/common/heart_3.png');
}

.checkbox input[type='checkbox']:checked+label::before { /* 가짜 라디오버튼 체크했을 때 */
 	background-position: 22.15px 0;
	width: 22px;
	height: 17.6px;
	background: url('../img/common/heart.png');
}

.container {
  position: relative;
  overflow: hidden;

}
.card-img-top{
    opacity: 1.0;
    transition:0.1s ease;
}
.check-mark {
  opacity: 0.0;
  position: absolute;  
  top: 0;
  left: 0;
  right: 0;
}
.container:hover .check-mark {
  opacity: 1.0;
}
.overlay {
  position: absolute;  
  top: 0;
  left: 0;
  right: 0;
  background:rgba(0,0,0,0.7);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .0.1s ease;
}
.container:hover .card-img-top{
    opacity: 0.8;
    transition:0.1s;
}
.container:hover .overlay {
  height: 30%; 
  opacity: 1.0;
  /*padding:10px;*/
}
.invite-name {
  color: white; 
/*   font-size: 15px;
  position: absolute;
 */
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tag {
  opacity: 1.0;
}

.extag {
  height:40px; 
}

.exbadge {
  background-color:#f2f2f2; 
  color:#2d62cd; 
  height:30px; 
  font-size:20px;
}
.badge {
  color:white;
}
.nav-item-side a {
    font-size: 15px !important;;
    font-weight: bold;
    color:black;
    background: #F2CE82;
    border-color:#f2f2f2;
    border-width:2px;
}

.modal-dialog.modal-fullsize {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.modal-content.modal-fullsize {
  height: auto;
  min-height: 100%;
  border-radius: 0; 
}

.modal.modal-center { text-align: center; } 

@media screen and (min-width: 68px) { 
  .modal.modal-center:before 
  { display: inline-block; 
  vertical-align: middle;
  content: " "; 
  height: 100%; } 
}
.modal-dialog.modal-center {
  display: inline-block;
  text-align: left;
  vertical-align: middle; 
}
.form-control {
  cursor:pointer;
}
/*말풍선*/
a.tooltips {
	position: relative;
	display: inline;
}
a.tooltips span {
	position: absolute;
	width: 160px;
	color: #FFFFFF;
	background: #f05228;
	height: 45px;
	line-height: 20px;
	text-align: center;
	display: none;
	border-radius: 6px;
	font-weight:bold;
	font-size:14px;
}
a.tooltips span:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -8px;
	width: 0;
	height: 0;
	border-top: 8px solid #f05228;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}
a:hover.tooltips span {
	display: block;
	opacity: 1.0;
	bottom: 30px;
	left: 50%;
	margin-left: -257px;
	z-index: 999;
}





