@charset "UTF-8";

/* service_2 css */ 

/*팝업창*/
.mainname {
  color:#2d62cd;
  font-size:17px;
}
.sidename{
  font-size: 13px;
}
.profile{
  border: 1px solid #b0afaf; 
  border-radius: 100%; 
  width: 50px; 
  height: 50px; 
}
.popup-badge{
	font-size:13px;
  background-color: #b0afaf; 
}
.popup-badge:hover{
  background-color: #6e9cf8;
}
/*하트*/
.likeCheck input[type='checkbox'] {
	display: none;
}

.likeCheck input[type='checkbox']+label::before { 
	content: ' ';
	display: inline-block;
	width: 24px;
	height: 23px;
	vertical-align: middle;
	background: url('../img/info/look/likeComent.png');
	background-size:80px 23px;
	cursor:pointer;
}

#likeCheck[type='checkbox']:checked+label::before {
	background-position: -24px 0;
}
#commentCheck[type='checkbox']+label::before {
  background-position: -52px 0;
}
#commentCheck[type='checkbox']:checked+label::before {
	background-position: -52px 0;
}

/*댓글폼*/
.comment-bg{
  position: relative;
  height: 8vh;
  background: #F2F2F2; 
  border: 1px solid #E8E8E8;
}

.comment-bg:after, .comment-bg:before {
	right: 100%;
	top: 35%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.comment-bg:after {
	border-color: rgba(242, 242, 242, 0);
	border-right-color: #F2F2F2;
	border-width: 10px;
	margin-top: -10px;
}
.comment-bg:before {
	border-color: rgba(0, 0, 0, 0);
	border-right-color: #E8E8E8;;
	border-width: 11px;
	margin-top: -11px;
}

.container {
  position: relative;
  overflow: hidden;
}
.card-img-top{
    opacity: 1.0;
    transition:0.1s ease;
}
.check-mark {
  opacity: 0.0;
  position: absolute;  
  top: 0;
  left: 0;
  right: 0;
}
.container:hover .check-mark {
  opacity: 1.0;
}
.overlay {
  position: absolute;  
  top: 0;
  left: 0;
  right: 0;
  background:rgba(0,0,0,0.7);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .0.1s ease;
}
.container:hover .card-img-top{
    opacity: 0.8;
    transition:0.1s;
}
.container:hover .overlay {
  height: 30%; 
  opacity: 1.0;
  /*padding:10px;*/
}
.invite-name {
  color: white; 
/*   font-size: 15px;
  position: absolute;
 */
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tag {
  opacity: 1.0;
}

.extag {
  height:40px; 
}

.exbadge {
  background-color:#f2f2f2; 
  color:#2d62cd; 
  height:30px; 
  font-size:20px;
}
.badge {
  color:white;
}
.nav-item-side a {
    font-size: 15px !important;;
    font-weight: bold;
    color:black;
    background: #F2CE82;
    border-color:#f2f2f2;
    border-width:2px;
}

.modal-dialog.modal-fullsize {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.modal-content.modal-fullsize {
  height: auto;
  min-height: 100%;
  border-radius: 0; 
}

.modal.modal-center { text-align: center; } 

@media screen and (min-width: 68px) { 
  .modal.modal-center:before 
  { display: inline-block; 
  vertical-align: middle;
  content: " "; 
  height: 100%; } 
}
.modal-dialog.modal-center {
  display: inline-block;
  text-align: left;
  vertical-align: middle; 
}
.form-control {
  cursor:pointer;
}
/*말풍선*/
a.tooltips {
	position: relative;
	display: inline;
}
a.tooltips span {
	position: absolute;
	width: 160px;
	color: #FFFFFF;
	background: #f05228;
	height: 45px;
	line-height: 20px;
	text-align: center;
	display: none;
	border-radius: 6px;
	font-weight:bold;
	font-size:14px;
}
a.tooltips span:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -8px;
	width: 0;
	height: 0;
	border-top: 8px solid #f05228;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}
a:hover.tooltips span {
	display: block;
	opacity: 1.0;
	bottom: 30px;
	left: 50%;
	margin-left: -257px;
	z-index: 999;
}





