 .service-list {
	border: 1px solid #dcd9d9;
	background-color:#f5f5f5;
	font-size:1rem;
}

#show_1, #show_2, #show_3 ul{
	font-size:1rem;
}

 .select-box, .container, .side-back {
    background:#f2f2f2;
}

.center {
    background-color: white;
}
.table {
    margin-top: 10px;
}

.select {
    padding-bottom:10px; 
    border: 1px solid #dcd9d9;
}

.selectBtn {
    width: 170px;
    font-weight:bold;
    border:1px solid #f05228;
    background:white;
    color:#f05228;
}
.selectBtn:hover{
    background:#f05228;
    color:white;
}
.selectBtn.active {
	background:#f05228;
    color:white;
}
/*option 선택*/
.custom-select {
	padding:0;
	cursor:pointer;
	background:#f6f6f6;
	border:1px solid #0a8282;
	color:#0a8282;
	border-radius:5px;
	text-align-last: center;
	font-size:18px;
}

.custom-select option {
	font-size:18px;
}

.custom-select option:checked, 
.custom-select option:hover {
	background: #0a8282;
    color: #fff;
}

th {
    background:#f5f5f5;
    color:#888888;
}

.confirm-btn {
    margin-left:5px;
    padding:5px;
    cursor: pointer;
    background:#bcbcbc; 
    color:white;
    font-size:14px;
}
.confirm-btn:hover{
    background:#959595;
    color:white;
}
span.care {
    color:#f0771f;
    font-size:12px;
}
.care-text{
    font-size:13px;
    color:#666666 !important;
}
.care-text-surve{
    font-size:12px;
    color:#666666 !important;
}
.input-group{
    width:300px;
}

.total{
    color:#0a8282;
    font-weight: bold;
}
.total-money {
    color:#f05228;
    font-weight:bold;
}
input.form-check-input{
    margin-top:9px;
}
.form-check-input, #inputGroupSelect01 {
    cursor: pointer;
    font-weight:bold;
}