@charset "UTF-8";
/* 
.nav-item-side a {
    font-size: 15px !important;;
    font-weight: bold;
    color:black;
    background: #F2CE82;
    border-color:#f2f2f2;
    border-width:2px;
}

.container {
  position: relative;
    width: 50%; 
	cursor:pointer;
}
.card-img-top{
    opacity: 1.0;
    transition:0.1s ease;
}
.overlay {
  position: absolute;  
  bottom: 0;
  left: 0;
  right: 0;
  background-color:#6e9cf8;
  overflow: hidden;
  width: 100%;
  height: 0%;
  transition: .0.1s ease;
}
.container:hover .card-img-top{
    opacity: 0.5;
    transition:0.1s;
}
.container:hover .overlay {
  height: 100%; 
  opacity: 0.5;
}
.text {
  color: white; 
  font-size: 15px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 */
.myservice-img {
  position: relative;
  max-width: 100%;
  min-height:100%;
  vertical-align: top;
  overflow: hidden;
}
 
 .nav-item-side a {
    font-size: 15px !important;;
    font-weight: bold;
    color:black;
    background: #F2CE82;
    border-color:#f2f2f2;
    border-width:2px;
}
.container {
  position: relative;
/*     width: 50%; */ 
	cursor:pointer;
	border:1px solid #d4d4d4;
	height: 300px;
	object-fit: cover;
}
.card-img-top{
    opacity: 1.0;
    transition:0.1s ease;
}
.overlay {
  position: absolute;  
  bottom: 5%;
  left: 5%;
  right: 5%;
  top:5%;
  background-color:black;
  overflow: hidden;
  width: 90%;
  height: 0%;
  transition: .0.1s ease;
}
.container:hover .card-img-top{
    transition:0.1s;
}
.container:hover .overlay {
  height: 90%; 
  background:rgba(0,0,0,0.6);
}
.myservice-text {
  width:100%;
  color: white; 
  font-size: 16px;
  font-weight:normal;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align:left;
  padding: 20px 30px;
}
#topTitle {
  font-weight:700;
}
.button-box{
  border:1px solid #d4d4d4;
  border-top:none;
  background:#f5f5f5;
  padding:5px 0;
}
.myservice-btn{
  background:#353535; 
  color:white;
}
.myservice-btn:hover{
  background:#000000;
}

/*circle*/
/*.circle {
  animation: spin 5s infinite linear;
  border:1px solid #333333;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 90%;
  -webkit-justify-content: center;
  justify-content: center;
  width: 90%;
}

.first {
  height: 22vmin;
  margin: 2.5vmin;
  width: 22vmin;
}*/
/*
:root {
    font-size: 10px;
}*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

.service-container {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.profile-edit-btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.profile-edit-btne:focus {
    outline: 0.5rem auto #4d90fe;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/* Profile Section */

.profile {
    padding: 5rem 0;
}

.profile::after {
    content: "";
    display: block;
    clear: both;
}

.profile-image {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.profile-image img {
	display: block;
    border-radius: 50%;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
    float: left;
    width: calc(66.666% - 2rem);
}

.profile-user-settings {
    margin-top: 1.1rem;
}

.profile-user-name {
    display: inline-block;
    font-size: 32px;
    font-weight: 300;
}

.profile-edit-btn {
    font-size: 14px;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
}

.profile-settings-btn {
    font-size: 20px;
    margin-left: 1rem;
    background:none;
}

.profile-stats {
    margin-top: 2.3rem;
}

.profile-stats li {
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
}

.profile-stats li:last-of-type {
    margin-right: 0;
}

.profile-bio {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
    font-weight: 600;
}

/* Gallery Section */

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
}

.gallery-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
    display: none;
}

.gallery-item-info li {
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
}

.gallery-item-likes {
    margin-right: 2.2rem;
}

.gallery-item-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 25px;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.fa-clone,
.fa-comment {
    transform: rotateY(180deg);
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Loader */

.loader {
    width: 5rem;
    height: 5rem;
    border: 0.6rem solid #999;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin: 0 auto;
    animation: loader 500ms linear infinite;
}

/* Media Query */

@media screen and (max-width: 40rem) {
    .profile {
        display: flex;
        flex-wrap: wrap;
        padding: 4rem 0;
    }

    .profile::after {
        display: none;
    }

    .profile-image,
    .profile-user-settings,
    .profile-bio,
    .profile-stats {
        float: none;
        width: auto;
    }

    .profile-image img {
        width: 7.7rem;
    }

    .profile-user-settings {
        flex-basis: calc(100% - 10.7rem);
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .profile-user-name {
        font-size: 22px;
    }

    .profile-edit-btn {
        order: 1;
        padding: 0;
        text-align: center;
        margin-top: 1rem;
    }

    .profile-edit-btn {
        margin-left: 0;
    }

    .profile-bio {
        font-size: 14px;
        margin-top: 1.5rem;
    }

    .profile-edit-btn,
    .profile-bio,
    .profile-stats {
        flex-basis: 100%;
    }

    .profile-stats {
        order: 1;
        margin-top: 1.5rem;
    }

    .profile-stats ul {
        display: flex;
        text-align: center;
        padding: 1.2rem 0;
        border-top: 0.1rem solid #dadada;
        border-bottom: 0.1rem solid #dadada;
    }

    .profile-stats li {
        font-size: 14px;
        flex: 1;
        margin: 0;
    }

    .profile-stat-count {
        display: block;
    }
}

/* Spinner Animation */

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}

@supports (display: grid) {
    .profile {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 3rem;
        align-items: center;
    }

    .profile-image {
        grid-row: 1 / -1;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-gap: 2rem;
    }

    .profile-image,
    .profile-user-settings,
    .profile-stats,
    .profile-bio,
    .gallery-item,
    .gallery {
        width: auto;
        margin: 0;
    }

    @media (max-width: 40rem) {
        .profile {
            grid-template-columns: auto 1fr;
            grid-row-gap: 1.5rem;
        }

        .profile-image {
            grid-row: 1 / 2;
        }

        .profile-user-settings {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 1rem;
        }

        .profile-edit-btn,
        .profile-stats,
        .profile-bio {
            grid-column: 1 / -1;
        }

        .profile-user-settings,
        .profile-edit-btn,
        .profile-settings-btn,
        .profile-bio,
        .profile-stats {
            margin: 0;
        }
    }
}
/*
 .flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  float: left;
}*/

.flex-item {
  padding: 15px;
  color: white;
  font-weight: bold;
  text-align: center;
}
 